@import url('https://fonts.googleapis.com/css?family=Montserrat');
.app {
	width: 500px;
	padding: 20px;
	margin: 40px auto;
	background-color: white;
	box-shadow: 5px 5px 20px #222;
}

h1 {
	padding: 20px;
	color: #222;
	text-align: center;
	/* color: #6762a6; */
	font-size: 30px;
}

.switch_btn {
	border: none;
	color: red;
	font-size: 14px;
	margin: 10px;
}

.url {
	font-size: 18px;
	font-weight: bold;
	color: #6762a6;
}

div {
	font-size: 14px;
	text-align: center;
	color: #222;
}

.desc {
	display: inline-block;
	color: #aaa;
	font-weight: bold;
	padding: 5px;
}
